{{#if editMode}} <h1> Edit</h1> {{else}} <h1>Create</h1> {{/if}}
<div class="form">
  <form action='{{#if editMode}}/edit/{{cube._id}}{{else}}/create{{/if}}' method="POST" enctype="multipart/form-data">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{cube.name}}">
    <label for="name">Description</label>
    <textarea id="name" name="description">{{cube.description}}</textarea>

    {{!-- <input type="text" id="image" name="imageUrl" value="{{cube.imageUrl}}"> --}}
    <input type="file" name="imageUrl" id="imageUrl" style="display: none;">
    <div class="text-center">
      <button class="btn" type="button" id="image-btn"> Add Image</button>
    </div>

    <label for="difficulty">Difficulty</label>
    <select id="difficulty" name="level">
      {{#each options}}
      <option value="{{level}}" {{#if selected}} selected {{/if}}>{{desc}}</option>
      {{/each}}
    </select>
    <input type="submit" value="{{#if editMode}} Edit {{else}}Create {{/if}}">
  </form>
</div>

<script>
  document.getElementById('image-btn').addEventListener('click', () => {
    document.getElementById('imageUrl').click()
  })
</script>