{{>navbar}}
<div class="container">
    <div class="row space-top text-center mb-3">
        <div class="col-md-12">
            <h1>Furniture Details</h1>
        </div>
    </div>
    <div class="row space-top">
        <div class="col-md-4">
            <div class="card text-white shadow">
                <div class="card-body">
                    <blockquote class="card-blockquote">
                        <img class="img-fluid" src="{{product.imageUrl}}" />
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <p>Make: {{product.maker}}</p>
            <p>Model: {{product.model}}</p>
            <p>Year: {{product.year}}</p>
            <p>Description: {{product.desc}}</p>
            <p>Price: {{product.price}}</p>
            {{#if product.material}}
            <p>Material: {{product.material}}</p>
            {{/if}}
        </div>
    </div>
</div>


{{>notifications}}